#middle {
  height: 60px;
  width: 60px;
  margin: auto;
  position: relative;
  top: -260px;
  border-radius: 50%;
  background-image: linear-gradient(150deg, transparent 50%, #1026AA 50%), linear-gradient(90deg, #1026AA 50%, white 50%);
  -webkit-animation: rotation 1200ms infinite linear;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

#inner {
  background: #1026AA;
  height: 48px;
  width: 48px;
  margin: auto;
  position: relative;
  top: 6px;
  border-radius: 50%;
}

#outer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 400px;
  margin: auto;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(270deg);
  }
  to {
    -webkit-transform: rotate(630deg);
  }
}
/*# sourceMappingURL=style.css.map */