$main: #44b9fc
$sec: #1026AA
$little-cursor: white

#middle
    height: 60px
    width: 60px
    margin: auto
    position: relative
    top: -260px
    border-radius: 50%
    background-image: linear-gradient(150deg, transparent 50%, $sec 50%),linear-gradient(90deg, $sec 50%, $little-cursor 50%)
    -webkit-animation: rotation 1200ms infinite linear
    transform-origin: 50% 50%
    animation-timing-function: ease

#inner
    background: $sec
    height: 48px
    width: 48px
    margin: auto
    position: relative
    top: 6px
    border-radius: 50%

#outer
    position: absolute
    left: 0
    right: 0
    bottom: 0
    top: 400px
    margin: auto

@keyframes rotation
    from
        -webkit-transform: rotate(270deg)

    to
        -webkit-transform: rotate(630deg)
