.FormSignin {
  width: 100%;
  min-width: 300px;
  Max-width: 350px;
  padding: 20px;
  margin: 0 auto;
}

.TimeLogin {
  text-align: center;
}

.TitleLogin {
  text-align: center;
  font-size: x-large;
}
/*# sourceMappingURL=style.css.map */