.FormRegister {
  width: 100%;
  min-width: 300px;
  Max-width: 350px;
  padding: 20px;
}

.TimeRegister {
  text-align: center;
}

.TitleRegister {
  text-align: center;
  font-size: x-large;
}
/*# sourceMappingURL=style.css.map */